<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie.dao.ReservationDao">
	<resultMap type="Reservation" id="ReservationResult">
		<result property="no" column="no"/>
		<result property="userId" column="user_id"/>
		<result property="timetableNo" column="timetable_no"/>
		<result property="price" column="price"/>
		<result property="seat" column="seat"/>
		<result property="progress" column="progress"/>
	</resultMap>
	<select id="selectAll" resultMap="ReservationResult">
		select * from Reservation
	</select>
	<select id="selectByTimeTable" parameterType="int" resultMap="ReservationResult">
		select * from Reservation where timetable_no = #{no}
	</select>
	<select id="selectByUserAndTime" parameterType="Reservation" resultMap="ReservationResult">
		select * from Reservation where user_id = #{userId} and timetable_no = #{timetableNo}
	</select>
	<update id="updateReservation" parameterType="Reservation">
		update reservation set seat=#{seat} where no=#{no}
	</update>
</mapper>