<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie.dao.TheaterDao">
	<resultMap type="Theater" id="TheaterResult">
		<result property="theaterNo" column="theater_no"/>
		<result property="theaterName" column="theater_name"/>
		<result property="theaterFloor" column="theater_floor"/>
		<result property="theaterMaxcount" column="theater_maxcount"/>
		<result property="row" column="theater_row"/>
		<result property="col" column="theater_col"/>
		<result property="theaterType" column="theater_Type"/>
		<result property="theaterTable" column="theater_table"/>
	</resultMap>

	<select id="selectAll" resultMap="TheaterResult">
		select * from Theater
	</select>
	
	<select id="selectById" resultMap="TheaterResult" parameterType="int">
		select * from Theater where theater_no = #{theaterNo}
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="theaterNo" parameterType="Theater">
		insert into theater values
		(null, #{theaterName},#{theaterFloor},#{theaterMaxcount},#{row},#{col},#{theaterType},null)
	</insert>
	
	<update id="update" parameterType="Theater">
		update theater set 
		theater_name=#{theaterName},theater_floor=#{theaterFloor},
		theater_maxcount=#{theaterMaxcount},row=#{row},theater_col=#{col},theater_Type=#{theaterType}
		 where theater_no=#{theaterNo}
	</update>
	
	<update id="update_table" parameterType="Theater">
		update theater set 
		theater_maxcount=#{theaterMaxcount},row=#{row},theater_col=#{col},theater_table=#{theaterTable}
		where theater_no=#{theaterNo}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from theater where theater_no = #{theaterNo}
	</delete>
	
</mapper>