<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="movie.dao.UserDao">
	<resultMap type="User" id="uesrResult">
		<result property="userId" column="user_id"/>
		<result property="password" column="password"/>
		<result property="point" column="point"/>
		<result property="email" column="email"/>
		<result property="phone" column="phone"/>
		<result property="name" column="name"/>
		<result property="addr" column="addr"/>
		<result property="gender" column="gender"/>
		<result property="userRank" column="userRank"/>
	</resultMap>
	<select id="selectAll" resultMap="uesrResult">
		select * from user
	</select>
	<select id="selectById" resultMap="uesrResult" parameterType="String">
		select * from user where user_id= #{userId}
	</select>
	<select id="selectByIdCheckpass" resultMap="uesrResult" parameterType="User">
		select * from user where user_id= #{userId} and password = password(#{password});
	</select>
	<insert id="insertUser"  parameterType="User">
		insert into user(user_id, password, point, email, phone, addr, gender, user_rank, name) values(#{userId},password(#{password}),#{point},#{email},#{phone},#{addr},#{gender},#{userRank},#{name});
	</insert>
	
	<update id="update" parameterType="User">
		update user set 
		password=#{password},point=#{point},
		email=#{email},phone=#{phone},name=#{name},addr=#{addr},gender=#{gender},user_rank=#{userRank}
		where user_id= #{userId}
	</update>
	
</mapper>