@CHARSET "UTF-8";

#theater_progess{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
	top:0;
	left:0;
	z-index:99;
}
#progress_prev{
	width:10%;
	height:100%;
	background:rgba(0,0,0,0.4);
	position:absolute;
	left:0;
}
#progress_prev p{
	width:100%;
	height:300px;
	color:white;
	margin:0px;
	line-height:300px;
	position:absolute;
	top:50%;
	margin-top:-150px;
	text-align:center;
}
#theater_seat{
	width:80%;
	height:100%;
	background:white;
	margin:0 auto;
}
#progress_next{
	width:10%;
	height:100%;
	background:rgba(0,0,0,0.4);
	position:absolute;
	top:0;
	right:0;
	color:white;
}
#progress_next p{
	width:100%;
	height:300px;
	color:white;
	margin:0px;
	line-height:300px;
	position:absolute;
	top:50%;
	margin-top:-150px;
	text-align:center;
}

