	*{
	margin:0 auto;
	font-family: "나눔 고딕", 'Nanum Gothic', 'ng';
	padding: 0;
	}
	body{
		margin: 0;
		padding: 0;
	}
	table{
		width: 1024px;
		margin: 0 auto;
	}
	table, th{
		border-top:2px solid #CDC197;
		border-bottom:2px solid #CDC197;
		border-collapse: collapse;
	}
	table,tr{
		border-bottom:1px solid #CDC197;
		border-collapse: collapse;
		text-align: center;
	}
	th, td{
		text-align: center;
		padding: 10px;
	}
	h2{
		width: 1024px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	#insert{	
		padding-top: 20px;
		width: 1024px;
		margin: 0 auto;	
		text-align:right;
	}
	#insert button{
		font-size: 15px;
		background: #CDC197;
		padding: 5px 10px;
		font-weight: bold;
		color: white;
	}