#headerWrap{
		width:100%;
		hegiht:200px;
		background:white;
		margin: 0 auto;
	}
	#headerWrap h1{
		text-align:center;
		color:red;
		margin:0;
	}
	#headerWrap #login{
		padding: 8px 0px;
		width: 100%;
		background: #EFEBDB;
		text-align: right;
	}
	#headerWrap #login a{
		color:#555;
		font-size:12px;
		text-decoration: none;
		padding: 5px;
		padding-right:20px;
	}
	#menubarWarp{
		width: 100%;
		border-top:2px solid #CDC197;
		border-bottom:1px solid #CDC197;
		margin-bottom: 20px;
	}
	#menubarWarp #menubar{
		width:1024px;
		margin:0 auto;
		overflow: hidden;
		padding: 20px 0;
		text-align:center;
	}
	
	#menubarWarp #menubar li{
		margin-top:10px;
		display: inline;
		float: left;
		width:19%;
		line-height:20px;
		height:20px;
		border-right:1px solid #ccc;
	}
	#menubarWarp #menubar li:LAST-CHILD{
		border:none;
	}
	#menubarWarp #menubar li a{
		text-decoration: none;
		color: black;
		font-weight: bold;
	}